<div class="list-group"   ng-controller='ctlEmail as emailCtrl'>
            <p>Emails:</p>       
            <div >            
                <div ng-repeat="email in cliente.Emails">
                    <select ng-model="email.Tipo" class="form-control" ng-options="tipoEmail for tipoEmail in TiposEmail" ng-selected="Email.Tipo"></select>                        
                    <input type="email" ng-model="email.Casilla" class="form-control"   />                     
                    <button type="button" ng-click="removeEmail(cliente, $index)" class="btn btn-xs">x</button>
                </div>     
            </div>   
             <p></p>
            <select name="ddlNuevaTipoEmail" ng-model="NuevoTipoEmail" class="form-control" ng-options="tipoEmail for tipoEmail in TiposEmail"></select>        
            <input name="txtNuevaCasillaEmail" type="email" ng-model="NuevaCasillaEmail" class="form-control"  />             
            <button ng-disabled="NuevaCasillaEmail=='' || NuevaCasillaEmail==undefined || NuevoTipoEmail==undefined" type="button" ng-click="addEmail(cliente)" class="btn btn-success btn-xs">+</button>
        </div>