<div class="list-group"  ng-controller='ctlTelefono as telefonoCtrl'>
    <p>Telefonos:</p>
    <div >                    
        <div ng-repeat="telefono in cliente.Telefonos">        
            <input type="text" ng-model="telefono.Numero" class="form-control"/> 
            <select ng-model="telefono.Tipo" class="form-control" ng-options="tipoTelefono for tipoTelefono in TiposTelefono" ng-selected="telefono.Tipo"></select>
            <button type="button" ng-click="removeTelefono(cliente,$index)" class="btn btn-danger btn-xs">x</button>
        </div>      
    </div>         
    <p></p>
    <input name="txtNuevoNumeroTelefono" type="text"  ng-model="NuevoNumeroTelefono" class="form-control" required/> 
    <select name="ddlNuevoTipoTelefono"  ng-model="NuevoTipoTelefono" class="form-control" ng-options="tipoTelefono for tipoTelefono in TiposTelefono" required></select>        
    <button type="button" ng-click="addTelefono(cliente)" class="btn btn-success btn-xs" Value="+">+</button>
</div>        