<form name="frmNew" ng-controller='ctlAccount as accountCtrl' novalidate>
    <div class="form-inline">
        <div class="well">
            <div class="alert alert-danger" ng-show="errors.formErrors">
                <span ng-repeat="error in errors.formErrors"><strong>o</strong> {{error}}<br /></span>
            </div>            
            <div>                
                <p>
                    Nombre:
                    <input type="text" ng-model="User.UserName" class="form-control input" placeholder="Ingrese el nombre" />
                </p>
                <p>
                    Rol:
                    <button class="btn btn-md btn-default" ng-class="{'btn-success':RoleAdmin, 'btn-default':!RoleAdmin}" ng-click="changeRole('Administrator')">Administrador</button>
                    <button class="btn btn-md btn-default" ng-class="{'btn-success':RoleEmpleado, 'btn-default':!RoleEmpleado}" ng-click="changeRole('VencimientosUser')">Empleado</button>
                    @*<button class="btn btn-md btn-default" ng-class="{'btn-success':RoleVisitante, 'btn-default':!RoleVisitante}" ng-click="changeRole('Guest')">Visitante</button>*@
                </p>
            </div>
        </div>
        <div>
            <a class="btn btn-lg btn-default" href="/Account/List">Volver</a>
            <button class="btn btn-lg btn-primary" ng-click="saveUser()">Guardar</button>
            <button class="btn btn-lg btn-default" ng-click="delete()">Eliminar</button>
        </div>
    </div>
</form>