<div ng-controller='ctlProducto'>
    <p>
        <input id="txtBusqueda" type="search" class="form-control center-block" ng-model="nombreBusqueda" ng-keypress="searchByName($event,nombreBusqueda)" placeholder="Buscar por nombre del producto.." />
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="list-group-item-heading">
                Catálogo de productos
                <a class="list-group-item-heading pull-right" href="/Producto/New/">+</a>
            </h2>
        </div>
        <div class="list-group" ng-repeat="itemProducto in productos | orderBy:'Nombre' | paginate:rowsPerPage">
            <a class="list-group-item" href="/Producto/Edit/{{itemProducto.ID}}">{{itemProducto.Nombre}}</a>
        </div>
        <pagination-control></pagination-control>
    </div>
</div>
