<div ng-controller="ctlVencimiento">
    <div class="panel panel-danger">        
        <div class="panel">
            <div class="panel-heading">
                <div class="col-header-link" ng-click="reverse=!reverse;setOrder('Cliente.Nombre')">
                    <h4 ng-show="order=='Cliente.Nombre'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="reverse"></span>
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="!reverse"></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6" ng-repeat="itemCliente in clientes | orderBy:order:reverse | paginate:rowsPerPage">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="list-group-item-heading col-xs-9 col-sm-10 col-md-10">{{itemCliente.Cliente.Nombre}}</h4>
                                <div class="list-group-item-heading col-xs-offset-2 col-sm-offset-1 col-md-offset-1">
                                    <span class="glyphicon glyphicon-phone"></span>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="itemVencimiento in itemCliente.Cliente.ProductosVencidos | orderBy:order:reverse">
                                    <div>
                                        <p class="list-group-item-text">
                                            {{itemVencimiento.Producto.Nombre}} - N. Serie: {{itemVencimiento.NumeroSerie}}
                                            <span class="list-group-item-danger text-right">Vencio: {{itemVencimiento.FechaVencimiento | date:'dd/MM/yyyy'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div ng-repeat="itemVencimiento in itemCliente.Cliente.ProductosVigentes | orderBy:order:reverse" ng-show="mostrarVigentes">
                                    <div>
                                        <p class="list-group-item-text">
                                            {{itemVencimiento.Producto.Nombre}} - N. Serie: {{itemVencimiento.NumeroSerie}}
                                            <span class="list-group-item-success text-right">Vence: {{itemVencimiento.FechaVencimiento | date:'dd/MM/yyyy'}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div>
                <pagination-control></pagination-control>
            </div>
            <div class="panel-footer">
                <div class="btn btn-link" ng-click="mostrarVigentes=!mostrarVigentes">
                    <span ng-show="!mostrarVigentes">Mostrar Vigentes</span>
                    <span ng-show="mostrarVigentes">Ocultar Vigentes</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
