<div ng-controller="ctlVencimiento">                
        <div class="panel panel-danger" >
            <div class="panel-heading">
                <h2 class="list-group-item-heading  col-xs-8 col-sm-7 col-md-10">Vencimientos</h2>                
                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="btn btn-danger" ng-click="TableView=!TableView" ng-disabled="TableView"><span class="glyphicon glyphicon-align-justify"></span></div>
                    <div class="btn btn-danger" ng-click="TableView=!TableView" ng-disabled="!TableView"><span class="glyphicon glyphicon-th-large"></span></div>
                </div>
            </div>                      
            <table class="table table-hover" ng-show="TableView">
                <thead>
                    <th class="col-header-link col-md-5" ng-click="reverse=!reverse;setOrder('ClienteID')">
                        <span>Cliente</span>
                        <span ng-show="order=='ClienteID'">
                            <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverse"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverse"></span>
                        </span>
                    </th>
                    <th class="col-header-link col-md-5" ng-click="reverse=!reverse;setOrder('Producto.Nombre')">
                        <span>Producto</span>
                        <span ng-show="order=='Producto.Nombre'">
                            <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverse"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverse"></span>
                        </span>
                    </th>
                    <th class="col-header-link col-md-2" ng-click="reverse=!reverse;setOrder('FechaVencimiento')">
                        <span>Vencimiento</span>
                        <span ng-show="order=='FechaVencimiento'">
                            <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!reverse"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="reverse"></span>
                        </span>
                    </th>
                </thead>
                <tr ng-repeat="itemVencimiento in vencimientos | orderBy:order:reverse | paginate:rowsPerPage">
                    <td class="list-group-item col-sm-4">
                        <span>{{itemVencimiento.ClienteID}}</span>
                    </td>
                    <td class="list-group-item col-sm-4">
                        {{itemVencimiento.Producto.Nombre}} - N. Serie: {{itemVencimiento.NumeroSerie}}
                    </td>
                    <td class="list-group-item col-sm-2 text-danger">Vencio: {{itemVencimiento.FechaVencimiento | date:'dd/MM/yyyy'}}</td>
                </tr>
            </table>            
            <div ng-show="TableView">
                <pagination-control></pagination-control>
            </div>
            <div class="panel" ng-show="!TableView">
                <div class="panel-heading">
                    <div class="col-header-link" ng-click="reverse=!reverse;setOrder('Cliente.Nombre')">                        
                        <h4 ng-show="order=='Cliente.Nombre'">
                            <span class="glyphicon glyphicon-sort-by-attributes" ng-show="reverse"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="!reverse"></span>
                        </h4>
                    </div>                    
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6" ng-repeat="itemCliente in clientes | orderBy:order:reverse">
                        <div class="panel panel-default">
                            <div class="panel-heading">                                
                                <h4 class="list-group-item-heading col-xs-9 col-sm-10 col-md-10">{{itemCliente.Cliente.Nombre}}</h4>                                               
                                <div class="list-group-item-heading col-xs-offset-2 col-sm-offset-1 col-md-offset-1">
                                    <span class="glyphicon glyphicon-phone"></span>
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="itemVencimiento in itemCliente.Cliente.ProductosVencidos | orderBy:order:reverse">
                                    <div>
                                        <p class="list-group-item-text">
                                            {{itemVencimiento.Producto.Nombre}} - N. Serie: {{itemVencimiento.NumeroSerie}}
                                            <span class="list-group-item-danger text-right">Vencio: {{itemVencimiento.FechaVencimiento | date:'dd/MM/yyyy'}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div ng-repeat="itemVencimiento in itemCliente.Cliente.ProductosVigentes | orderBy:order:reverse" ng-show="mostrarVigentes">
                                    <div>
                                        <p class="list-group-item-text">
                                            {{itemVencimiento.Producto.Nombre}} - N. Serie: {{itemVencimiento.NumeroSerie}}
                                            <span class="list-group-item-success text-right">Vence: {{itemVencimiento.FechaVencimiento | date:'dd/MM/yyyy'}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="panel-footer">
                    <div class="btn btn-link" ng-click="mostrarVigentes=!mostrarVigentes">
                        <span ng-show="!mostrarVigentes">Mostrar Vigentes</span>
                        <span ng-show="mostrarVigentes">Ocultar Vigentes</span>
                    </div>
                </div>
            </div>
    </div>    
</div>
