<div ng-controller='ctlCliente'>
    <p>
        <input id="txtBusqueda" type="search" class="form-control center-block" ng-model="nombreBusqueda" ng-keypress="searchByName($event,nombreBusqueda)" placeholder="Buscar por nombre del cliente.."/>
     </p>
    <div class="panel panel-primary">        
        <div class="panel-heading">
            <h2 class="list-group-item-heading">Clientes
                <a class="list-group-item-heading pull-right" href="/Cliente/New/">+</a>
            </h2>            
        </div>                    
        <div class="list-group" ng-repeat="itemCliente in clientes | orderBy:'Nombre' | limitTo: sizePagina * paginaActual | limitTo: sizePagina * paginaActual < clientes.length ? -sizePagina : sizePagina - (sizePagina * paginaActual - clientes.length)">
            <a class="list-group-item" href="/Cliente/Edit/{{itemCliente.ID}}">{{itemCliente.Nombre+ ' ' +(itemCliente.Apellido||'')  }}</a>
        </div>        
            <div class="navbar-collapse collapse">
                <div class="float-right">
                    <ul class="nav navbar-nav">                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Pagina {{paginaActual}} / {{paginas.length}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="pagina in paginas">
                                    <button type="button" ng-class="selected" class="btn btn-link" ng-click="CambiarPagina($index+1)">{{pagina}}</button>
                                </li>                        
                            </ul>
                        </li>                                                
                    </ul>
                </div>
                <div class="float-right">                    
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Mostrar <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><button type="button" class="btn btn-link" ng-click="CambiarSizePagina(5)">5 Clientes</button></li>
                                <li><button type="button" class="btn btn-link" ng-click="CambiarSizePagina(10)">10 Clientes</button></li>
                                <li><button type="button" class="btn btn-link" ng-click="CambiarSizePagina(20)">20 Clientes</button></li>
                                <li><button type="button" class="btn btn-link" ng-click="CambiarSizePagina(50)">50 Clientes</button></li>
                            </ul>
                        </li>
                    </ul>
                </div>                
            </div>                              
    </div>        
</div>